#game-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#game {
    border-radius: 8px;
    background: rgba(1, 22, 39, 0.84);
    box-shadow: 1px 5px 11px 0px rgba(2, 18, 27, 0.71) inset;
    position: relative;
}

canvas {
    z-index: 1;
    position: absolute;
}

#game-over {
    position: absolute;
    left: 62px;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 10;

}

#stats-section {
    width: 200px;
    margin-left: 16px;
    height: 443px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.light-bg-box {
    padding: 1rem;
    border-radius: 8px;
    background: rgba(1, 20, 35, 0.19);
}

#controls>p {
    font-weight: bold;
}

.key-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-key-row {
    margin-top: 14px;
}

.key-row>svg {
    margin: 2px;
}

#start-game-button {
    border-radius: 8px;
    border: none;
    padding: 8px 0;
    font-size: 1.125rem;
    background: #FEA55F;
}